.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style:solid ;
    border-bottom-color: rgb(225, 215, 215);
    z-index: 100;
}
.left-side{
    width: 200px;
    align-items: center;
    display: flex;
}
.ham-menu{
    height: 25px;
    margin-right: 20px;
    margin-left: 10px;

}
.yt-logo{
    height: 20px;
}
.center{
   display: flex;
    flex: 1;
    margin-left: 50px;
    margin-right: 40px;
    max-width: 450px;
    align-items:center;
}
.search-bar{
    display: flex;
    flex: 1;
    height: 34px;
    padding-left: 12px;
    font-size: 25px;
   
    border-color: gray;
    border-radius: 40px 0 0 40px;
    width: 0;
    
}
.search-bar::placeholder{
    font-family: Roboto,Arial,;
    font-size: 25px;
    width: 0;
}
.search{
    height: 35px;
    width: 66px;
    margin-left: -3px;
   
}
.search-btn{
    border-width: 1px;
    border-style: solid;
    margin-left: -1px;
    margin-right: 10px;
    border-radius: 12px
}
.voice{
    height: 30px;
    margin-top: 4px;
}
.voice-btn{
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(239, 236, 236);
}
.right-side{
    background-color:rgb(249, 242, 242);
width: 300px;
display: flex;
align-items: center;
justify-content: space-between;
}
.upload{
    height: 40px;
}
.apps{
    height: 40px;
    

}
.notice{
    height: 40px;
}
.notifi{
    position: relative;
}
.no{
    position: absolute;
    background-color: rgb(200, 4, 4);
    color: white;
    top: -4px;
    right: -3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;

}
.channel-photo{
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
